*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body button{
    cursor: pointer;
}
/* header */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.nav{
    list-style: none;
    gap: 50px;   
    display: flex;
}
.search{
   border: 2px solid white;
   border-radius: 15px;
   
}
.search input[type="text"]{
    padding: 20px;
    background-color: transparent;
    border: none;
 outline: none;

}
.search input[type="text"]::placeholder{
   outline: none;
   border: none;
 color: white;

}
.search i{
    color: white;
    margin-left: 10px;
    cursor: pointer;
}
.nav li a{
    text-decoration: none;
    color: black;
    color: white;
}
.picture{
    background-image: url(/images/picture.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 130vh;
    position: relative;
}
.picture #pointer{
    position: absolute;
    color: #FF6F61;
    left: 330px;
    top: 78px;
   
}
.contenutext{
    position: absolute;
    left: 70px;
    top: 180px;
}
.img img{
    position: absolute;
    width: 400px;
    height: 500px;
   right: 120px;
   top: 130px;
}
.titrehealth .p1{
color: white;
font-weight: bold;
}
.titrehealth{
    background-color: #2ECC71;
    padding: 10px;
    text-align: center;
    border:2px solid #5EE088;
    border-radius: 8px 8px 0px 8px;
    width: 300px;
}
.contenutext h1{
    margin-top: 50px;
    color: white;

    
}
.contenutext .p2{
    font-weight: bold;
    color: white;
    margin-top: 30px;
}
.btns{
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 20px;
  
}
.btns .btn1{
    padding: 15px;
    background-color: #FF6F61;
    border-radius: 100px;
    border: 0;
    color: white;
}
.btns .btn2{
    padding: 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 100px;
    text-align: center;
    padding-right: 50px;
     padding-left: 50px;
       color: white;
}
.btns i{
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    color: #FF6F61;
}
.btns p{
    color: white;
}
.hours{
     margin-top: 60px;
     display: flex;

}
 .iconehours{
    width: 120px;
    height: 80px;
    background-color: #5EE088;
    position: relative;
    border-radius: 10px;
}
.iconehours i{
    position: absolute;
    left: 30px;
    top: 13px;
    color: white;
    font-size: 60px;
}

.hourstime{
    margin-left: 20px;
    color: white;
}
.hourstime h6{
    font-size: 15px;
    margin-bottom: 10px;
}
.hourstime p{
    font-size: 13px;
    

}
 
form{
    position: absolute;
    background-color: white;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
   border-radius: 20px;
   top: 450px;
   left: 700px;
}

form select{
  width: 150px;
  padding: 15px;
  border-radius: 10px;
border-color: rgb(176, 173, 173);
  color: #7a7979; 
}
.select1{
    margin: 10px;
    
}
form i{
    color: rgba(0, 128, 255, 0.479);
}

form button{
    background-color: #FF6F61;
    color: white;
    border: 0;
    position: absolute;
    top: 230px;
    padding: 12px;
    border-radius: 20px;
}









.images {
height: 150px;
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 50px;
}
.images img{
    width: 110px;
    height: 60px;
}



/* About Us */

.aboutus{
  background-image: url(/images/imageabout.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    position: relative;
    width: 97%;
    height: auto;
    bottom: 10px;
    left: 20px;
    top: 80px;
    margin-bottom: 100px;
    
}

.pictureaboutus{
    background-image:url(/images/bgpetite.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130px;
    position: relative;
}
#pointerabout{
    position: absolute;
    top: 80px;
    left: 420px;
     color: #FF6F61;
}
#pointerdoctors{
    position: absolute;
    top: 80px;
    left: 525px;
     color: #FF6F61;
}
#pointerservices{
       position: absolute;
    top: 80px;
    left: 610px;
     color: #FF6F61;
}

#pointerappointement{
    position: absolute;
    top: 80px;
    left: 730px;
     color: #FF6F61;
}



.section1{
    display: flex;
}
.section1 img{
    width: 500px;
    height: 270px;
   margin-top: 50px;
   margin-left: 50px;
}
.section1div{
     background-color: #2ECC71;
    padding: 10px;
    text-align: center;
    border:2px solid #5EE088;
    border-radius: 10px 10px 0px 10px;
    width: 130px;
}
.section1div p{
    color: white;
font-weight: bold;
}
.donnerright{
    margin-left: 80px;
    margin-top: 50px;
}
.donnerright .section1div{
    margin-bottom: 40px;
}
.donnerright h1{
    margin-bottom: 40px;
    font-weight: bold;
    color: #3498DB;
}


.conteneurevideo {
  width: 230px;
  height: 280px;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 50px;
  margin-top: 50px;
}
.section2{
    position: relative;
    display: flex;
    padding-bottom: 100px;
}

.conteneurevideo video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}
.donner2right{
    border: 2px solid rgb(234, 232, 232);
    height: 200px;
    position: absolute;
    left: 630px;
    top: 90px;
    border-radius: 10px;
}

.donner2right p{
margin-top: 50px;
margin-left: 30px;
}
.donner2right img{
margin-top: 20px;
margin-left: 30px;
margin-right: 10px;
}

.section2 .profile12{
    width: 80px;
    height: 50px;
    position: absolute;
    left: 630px;
    top: 70px;
    z-index: 999;
}

.section2 .btn3{
    padding: 15px;
    background-color: #FF6F61;
    border-radius: 100px;
    border: 0;
    color: white;
   position: absolute;
   top: 380px;
  left: 620px;
 width: 200px;
 margin-top: -50px;
}

.section2 i{
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    color: #FF6F61;
}
.section2 .numberexperiences{
    width: 200px;
    height: 120px;
    background-color: #2ECC71;
    border-radius: 15px 15px 15px 0px;
    position: absolute;
    top: 80px;
    left: 260px;
    color: white;
   
}
.section2 .numberexperiences h1{
margin-top: 20px;
margin-left: 20px;
}

.section2 .numberexperiences h3{
margin-top: 10px;
margin-left: 20px;
}






/* 
 Statistique */

.prcnumber{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    
}
.prcnumber h1{
    color: #2e95da;
    margin-bottom: 10px;
}
.prcnumber p{
    color: rgb(88, 87, 87);
}





.textservice{
     background-color: #2ECC71;
    padding: 10px;
    text-align: center;
    border:2px solid #5EE088;
    border-radius: 10px 10px 0px 10px;
    width: 130px;
    margin-left: 100px;
    margin-bottom: 30px;
   
}
.textservice p{
    color: white;
font-weight: bold;
}
.text2service{
    display: flex;
    justify-content: space-around;
    margin-left: -50px;
}
.text2service h1{
    color: #2e95da;
   
}

.div31{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.div31 .div1{
    background-color: white;
    padding: 40px;
    border-radius: 30px;
}
.div31 h3{
    color: #2677BC;
     margin-top: 15px;
    margin-bottom: 15px;
}
.div31 p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.services{
     background-image: url(/images/imageabout.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
    position: relative;
    width: 97%;
    height: 1140px;
    bottom: 10px;
    left: 20px;
    top: 80px;
    margin-bottom: 100px;
   border-radius: 80px;
   padding-top: 140px;
   padding-bottom: 20px;
}
.btncardservice{
    background-color: white;
    padding: 10px;
    text-align: center;
    width: 150px;
    border: 2px solid #FF6F61;
    border-radius: 30px;
    color: #FF6F61;
  
}
.btncardservice i{
    color: #FF6F61;
    margin-left: 10px;
}

.services .btn4{
    padding: 15px;
    background-color: #FF6F61;
    border-radius: 100px;
    border: 0;
    color: white;
   position: absolute;
   bottom: 70px;
  left: 600px;
 width: 200px;
 margin-top: -50px;
 
}

.services i{
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    color: #FF6F61;
}





.doctors{
    width: 95%;
    height: 1000px;
    margin-top: 150px;
    position: relative;
    left: 20px;
    
}

.doctors .textdoctors{
     background-color: #2ECC71;
    padding: 10px;
    text-align: center;
    border:2px solid #5EE088;
    border-radius: 10px 10px 0px 10px;
    width: 130px;
   position: absolute;
   left: 500px;
   top: 40px;
   
}
.doctors .textdoctors p{
    color: white;
font-weight: bold;
}
.doctors h1{
    color: #2677BC;
    position: absolute;
    left: 500px;
   top: 100px;
}
.imagedoctors{
  
    width: 90%;
    height: 400px;
    position: absolute;
    left: 70px;
    top: 200px;
}
.div3doctors1  .doctor1{
    background-color:#f2f4f5;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

.doctor1 h4{
    color: #2677BC;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    
}
.doctor1 h6{
    color: #FF8B61;
    font-size: 16px;
    margin-left: 25px;
    margin-bottom: 20px;
}

.div3doctors1{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}
.doctors .btn5{
    padding: 13px;
    background-color: #FF6F61;
    border-radius: 100px;
    border: 0;
    color: white;
   position: absolute;
bottom: 10px;
  left: 510px;
 width: 200px;
 margin-top: -50px;
}

.doctors i{
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    color: #FF6F61;
}

.trusteddoctor{
    background-image: url(/images/trusdoctor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    height: 360px;
    position: relative;
    left: 30px;
    top: 40px;
    border-radius: 15px;
    margin-bottom: 150px;
}
.trusteddoctor div{
    position: absolute;
    left: 80px;
    top: 50px;
}
.trusteddoctor h1{
    color: white;
    margin-bottom: 30px;
}
.trusteddoctor p{
    color: white;
}

.trusteddoctor .btn6{
    padding: 10px;
    background-color:#E3FAFF;
    border-radius: 100px;
    border: 0;
    color: #2672BC;
   position: absolute;
bottom: 30px;
  left: 80px;
 width: 200px;
 margin-top: -50px;
}

.trusteddoctor i{
    background-color: #2672BC;
    padding: 6px;
    border-radius: 50%;
    color: white;
}

.textservice{
     background-color: #2ECC71;
    padding: 10px;
    text-align: center;
    border:2px solid #5EE088;
    border-radius: 10px 10px 0px 10px;
    width: 130px;
    margin-left: 100px;
    margin-bottom: 30px;
   
}


.pricing .textpricing{
background-color: #2ECC71;
    padding: 10px;
    text-align: center;
    border:2px solid #5EE088;
    border-radius: 10px 10px 0px 10px;
    width: 130px;
    margin-left: 100px;
    margin-bottom: 30px;
}

.pricing .textpricing p{
color: white;
font-weight: bold;
}
.text2pricing{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.text2pricing h1{
color: #2677BC;

}
.div3pricing{
    display: flex;
    justify-content: space-around;
}
.div1pricing .prc .span1{
    font-size: 30px;
    font-weight: bold;
    color: #2677BC;
   
}
.div1pricing  h3{
    color: #2677BC;
    margin-bottom: 20px;
}
.div1pricing .fea{
    color: #2672BC;
    margin-bottom: 10px;
}

.div1pricing i{
    color: #2ECC71;
}

.pricing{
   padding-bottom: 100px;
   position: relative;
}
.div1pricing .Features{
    padding: 10px;
    width: 200px;
    border: 2px solid #FF6F61;
    border-radius: 20px;
    text-align: center;
    background-color: transparent;
    color: #FF6F61;
    margin-bottom: 10px;
    margin-top: 20px;
}

.div1pricing .plan{
    padding: 10px;
    width: 200px;
    border: 2px solid #FF6F61;
    border-radius: 20px;
    text-align: center;
    background-color: #FF6F61;
    color: white;
}

.div1pricing .or{
    margin-left: 90px;
    color: #7a7979;
    margin-bottom: 20px;
}

.prc{
    margin-top: 15px;
    margin-bottom: 15px;
}
.div1pricing img{
    margin-bottom: 10px;
}
.div1pricing .vrai{
    margin-bottom: 10px;
    color: #7a7979;
}
.prc .span2{
   color: #7a7979; 
}
.div1pricing .paragcard{
      color: #7a7979; 
}
.div1pricing{
    border: 1px solid  #b5b4b4;
    padding: 20px;
   border-radius: 20px;
}

.div1pricing .plan i{
    color: white;
    margin-left: 10px;
}
.div1pricing .Features i{
    color: #FF6F61;
    margin-left: 10px;
}
.div1pricing h3 span{
color:  #88bcf0;
}

.pricing .btn7{
    padding: 13px;
    background-color: #FF6F61;
    border-radius: 100px;
    border: 0;
    color: white;
   position: absolute;
bottom: 10px;
  left: 510px;
 width: 200px;
 margin-top: -50px;
}

.pricing .btn7 i{
    background-color: white;
    padding: 6px;
    border-radius: 50%;
    color: #FF6F61;
}








.appointement{
    background-image: url(/images/picture.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 900px;
    margin-top: 80px;
   
    background-color: white;
    position: relative;
}
.container{
    background-color: white;
    position: relative;
    top: 100px;
    height: 700px;
    left: 120px;
  width: 80%;
  border-radius: 20px;
}
.appointement .textappointement{
background-color: #2ECC71;
    padding: 10px;
    text-align: center;
    border:2px solid #5EE088;
    border-radius: 15px 15px 0px 15px;
    width: 180px;
    position: absolute;
    left: 70px;
    top: 30px;
    color: white;
}
.appointement h1{
    position: absolute;
    top: 100px;
    left: 70px;
    color: #2e95da;
    font-weight: bold;
}

.formulaire{
    position: absolute;
    left: 130px;
    width: 1000px;
   bottom: 120px;

}
.formulaire  .completinput{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.formulaire  .completselect{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.formulaire  .completinput input{
   padding: 10px;
   width: 360px;
   border: 1px solid rgb(148, 144, 144);
   border-radius: 10px;
}
.formulaire  .completinput input:focus{
  
   border: 2px solid rgb(54, 158, 193);
 outline: 0;
}

.formulaire  .completselect select{
    padding: 10px;
   width: 360px;
   border: 1px solid rgb(148, 144, 144);
   border-radius: 10px;
   color: rgb(148, 144, 144);
}
.formulaire  .completselect select:focus{
    outline: 0;
    border: 2px solid rgb(54, 158, 193);
}
.formulaire .textarea{
 margin-left: 70px;

}
.formulaire .textarea textarea{
 border-radius: 5px;
border: 1px solid rgb(148, 144, 144);

}
.formulaire .textarea textarea:focus{

border: 2px solid rgb(54, 158, 193);
outline: 0;
}

.formulaire .btn8{
    padding: 10px;
    width: 875px;
    border: 2px solid #FF6F61;
    border-radius: 20px;
    text-align: center;
    background-color: #FF6F61;
    color: white;
    text-align: center;
    margin-left: 60px;
    margin-top: 20px;
}
.formulaire .btn8 i{
    color: white;
    margin-left: 10px;
}







.footer{
    width: 100%;
    height: 460px;
    background-color: #F5F8FA;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding-top: 40px;
   
}

.footer .div1 img{
    width: 150px;
    height: 130px;
    margin-bottom: 20px;

}
.footer h4{
    color: #2677BC;
}
.footer a{
    color: #63BBE9;
    text-decoration: none;
    font-size: 13px;
}
.footer .div2 .location{
    margin-top: 50px;
}
.footer p{
    margin-top: 10px;
}
.footer .div2 .danap{
    color: rgb(148, 144, 144);
    font-size: 10px;
}
.footer .div1 .icones{
   margin-top: 60px;
}
.footer .div1 .icones i{
    color: #2e95da;
    margin-right: 15px;
    cursor: pointer;
}
.footer p{
    margin-top: 20px;
    color: #2677BC;
    font-size: 12px;
}
.footer input{
    padding: 10px;
    width: 200px;
    border-radius: 15px;
    border: 1px solid rgb(154, 149, 149);
}
.footer input:focus{
    outline: 0;
    border: 1px solid #2677BC;
}

.footer .div1 .subscribe{
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #2e95da;
    background-color: transparent;
    color: #2e95da;
}
.footer .div1 .subscribe:hover{
    background-color: #2e95da;
    color: white;
    
}


